@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

  font-family: 'Open Sans', sans-serif;
}
.header-gradient {
  background: linear-gradient(0deg,transparent 0,#000 200%);
}
.desktop-nav-shadow {
  text-shadow: 2px 2px 9px rgb(0 0 0/80%);
}

.border-b {
  border-bottom-width: 1px;
}

.border-transparent {
  border-color: transparent;
}
.border-white:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255,255,255,var(--tw-border-opacity));
}
.border-black:hover {
  opacity: 1;
  border-color: black;
  
}
.border-b-2 {
  border-bottom-width: 2px;
}

.border-yellow-400 {
  --tw-border-opacity: 1;
  border-color: rgba(251,191,36,var(--tw-border-opacity));
}
 .bg-blog-area{
  --tw-bg-opacity: 1;
  background-color: rgba(244,244,244,var(--tw-bg-opacity));
}
.font-freight {
  font-family: "Freight,serif"!important;
}
.bg-contact-yellow {
  --tw-bg-opacity: 1;
  background-color: rgba(250,247,238,var(--tw-bg-opacity));
}
